body {
    background: #26004d;
    color: #b4f10b;   
    background-image: url("assets/trimet-bus-w-glow.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.wrapper {
    width: 100%;
    margin-bottom: 0px auto;
}

.header {
    margin: 10px 0px 165px 0px;
}

.title {
    font-family: 'Audiowide', cursive;
    font-size: 72px;
}

.subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;  
    text-transform: lowercase;
    letter-spacing: 0.27em;
}

#vote  {
    background-color: #b4f10b;
    height: 240px;
    text-align: center;
}

#vote img {
    max-height: 220px;
    margin: 5px;
    border: double 3px;
    border-color: #26004d;
    border-top-right-radius: 30px 30px;
    -moz-border-radius-top-right: 30px 30px;
    -webkit-border-radius-top-right: 30px 30px;
}